body{
  font-family: 'Libre Baskerville', serif;
  color: #333;
}
header{
  font-family: 'Tinos', serif;
}

header a{
  text-decoration: none;
  color: #333;
}

header.layout-home {
  border-top: 3px solid #333;
  text-align: center;
  padding: 60px 0px 80px 0px;
}

header.layout-home a{
  font-size: 65px;
  letter-spacing: 8px;
}
header.layout-home span{
  font-size: 25px;
  letter-spacing: 8px;
}

header.layout-post{
  padding: 15px 0px 15px 0px;
  background: rgba(20,20,20,1);
  background: -moz-linear-gradient(left, rgba(20,20,20,1) 0%, rgba(48,48,48,1) 51%, rgba(56,56,56,1) 66%, rgba(36,36,36,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(20,20,20,1)), color-stop(51%, rgba(48,48,48,1)), color-stop(66%, rgba(56,56,56,1)), color-stop(100%, rgba(36,36,36,1)));
  background: -webkit-linear-gradient(left, rgba(20,20,20,1) 0%, rgba(48,48,48,1) 51%, rgba(56,56,56,1) 66%, rgba(36,36,36,1) 100%);
  background: -o-linear-gradient(left, rgba(20,20,20,1) 0%, rgba(48,48,48,1) 51%, rgba(56,56,56,1) 66%, rgba(36,36,36,1) 100%);
  background: -ms-linear-gradient(left, rgba(20,20,20,1) 0%, rgba(48,48,48,1) 51%, rgba(56,56,56,1) 66%, rgba(36,36,36,1) 100%);
  background: linear-gradient(to right, rgba(20,20,20,1) 0%, rgba(48,48,48,1) 51%, rgba(56,56,56,1) 66%, rgba(36,36,36,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141414', endColorstr='#242424', GradientType=1 );
}
header.layout-post a{
  color: #fff;
}

.container{
  max-width: 720px;
}

.container p, .container h2, .container h3, .container .single_photo{
  padding: 10px;
}
#logo{
  width: 300px;
}

.main_photo_home{
  width: 100%;
}

.main_photo{
  width: 100%;
}

.post_from_index{
  display: block;
  margin: 0px 0px 60px 0px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 260px;
  padding: 0px;
}

.post_preview{
  padding: 80px 30px;
}

.bg_opaque{
  background-color: rgba(0,0,0, 0.7);
  height: 260px;
  transition: background-color .5s ease-out;
}
.post_from_index h2{
  font-family: 'Oswald', sans-serif;
  font-size: 33px;
  padding-top: 0px;
  margin-top: 0px;
  color: #fff;
  text-decoration: none;
}
.post_from_index:hover .bg_opaque{
  background-color: rgba(0,0,0,0.4);
}

.post_from_index .post_content{
  font-size: 15px;
  color: #fff;
}

/************* SINGLE POST ****************/

.single_post{
  margin-top: 30px;
}

.single_post p{
  font-size: 15px;
  line-height: 22px;
}

.single_post a{
  color: #2b5aa5;
}

.single_post a:hover{
  text-decoration: none;
}

.single_post h1{
  font-family:  'Oswald', sans-serif;
  font-size: 40px;
  padding: 50px 0px 60px 0px;
  margin-top: 0px;
  text-align: center;
}

.single_photo{
  margin-top: 20px;
}

#detail_photos img{
  width: 100%;
}

/************* FOOTER **********/
footer{
  font-size: 12px;
  color: #ddd;
  text-align: center;
  border-top: 1px dashed #eee;
  padding: 20px 0px;
  margin-top: 20px;
}

footer a{
  color: #ddd;
}

/************************ MOBILE LAYOUT *********************/
@media all and (max-width: 500px) {

  .post_from_index{
    height: 300px;
  }

  .bg_opaque{
    height: 300px;
  }
}
