body{
  font-family: 'Libre Baskerville', serif;
  color: #333;
}
header{
  background-color: #000;
  color: #fff;
  padding: 50px 0px 50px 0px;
  font-family: 'Tinos', serif;
}

header a{
  text-decoration: none;
  color: #fff;
  font-size: 65px;
  letter-spacing: 8px;
}
header span{
  font-size: 20px;
}

.main_photo_home{
  width: 100%;
}

.main_photo{
  width: 50%;
  float: left;
  padding: 0px 20px 20px 0px;
}

.post_from_index{
  margin: 20px 0px;
  border-bottom: 1px solid #ededed;
  padding: 30px 0px;
}

.post_from_index h2{
  font-family:  'Oswald', sans-serif;
  font-size: 33px;
  padding-top: 0px;
  margin-top: 0px;
}

.post_from_index a{
  color: #333;
  text-decoration: none;
}
.post_from_index a:hover{
  border-bottom: 1px dashed #ccc;
}

.post_from_index .post_content{
  font-size: 15px;
}

/************* SINGLE POST ****************/

.single_post{
  margin-top: 30px;
}

.single_post p{
  font-size: 15px;
  line-height: 22px;
}

.single_post a{
  color: #333;
}

.single_post a:hover{
  text-decoration: none;
}

.single_post h1{
  font-family:  'Oswald', sans-serif;
  font-size: 33px;
  padding-top: 0px;
  margin-top: 0px;
}

#detail_photos{
  padding: 20px 0px;
}

#detail_photos img{
  width: 100%;
  padding: 20px;
}

/************* FOOTER **********/
footer{
  font-size: 12px;
  color: #ddd;
  text-align: center;
  border-top: 1px dashed #eee;
  padding: 20px 0px;
  margin-top: 20px;
}

footer a{
  color: #ddd;
}
