body{
  font-family: 'Libre Baskerville', serif;
  color: #333;
}
header{
  border-top: 3px solid #333;
  padding: 60px 0px 80px 0px;
  font-family: 'Tinos', serif;
  text-align: center;
}

header a{
  text-decoration: none;
  color: #333;
  font-size: 65px;
  letter-spacing: 8px;
}
header span{
  font-size: 25px;
  letter-spacing: 8px;
}

.main_photo_home{
  width: 100%;
}

.main_photo{
  width: 50%;
  float: left;
  padding: 0px 20px 20px 0px;
}

.post_from_index{
  display: block;
  margin: 0px 0px 60px 0px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 230px;
  padding: 0px;
}

.post_preview{
  padding: 60px 20px;
}

.bg_opaque{
  background-color: rgba(0,0,0, 0.7);
  height: 230px;
  transition: background-color .5s ease-out;
}
.post_from_index h2{
  font-family: 'Oswald', sans-serif;
  font-size: 33px;
  padding-top: 0px;
  margin-top: 0px;
  color: #fff;
  text-decoration: none;
}
.post_from_index:hover .bg_opaque{
  background-color: rgba(0,0,0,0.4);
}

.post_from_index .post_content{
  font-size: 15px;
  color: #fff;
}

/************* SINGLE POST ****************/

.single_post{
  margin-top: 30px;
}

.single_post p{
  font-size: 15px;
  line-height: 22px;
}

.single_post a{
  color: #2b5aa5;
}

.single_post a:hover{
  text-decoration: none;
}

.single_post h1{
  font-family:  'Oswald', sans-serif;
  font-size: 33px;
  padding-top: 0px;
  margin-top: 0px;
}

#detail_photos{
  padding: 20px 0px;
}

#detail_photos img{
  width: 100%;
  padding: 20px;
}

/************* FOOTER **********/
footer{
  font-size: 12px;
  color: #ddd;
  text-align: center;
  border-top: 1px dashed #eee;
  padding: 20px 0px;
  margin-top: 20px;
}

footer a{
  color: #ddd;
}
