body{
  font-family: 'Libre Baskerville', serif;
  color: #333;
}
header{
  font-family: 'Tinos', serif;
}

header a{
  text-decoration: none;
  color: #333;
}

header.layout-home {
  text-align: center;
  padding: 40px 0px 50px 0px;
}

header.layout-home a{
  font-size: 65px;
  letter-spacing: 8px;
}
header.layout-home span{
  font-size: 25px;
  letter-spacing: 8px;
}

header.layout-post, header.layout-about{
  padding: 15px 0px 15px 0px;
  border-bottom: 1px solid #eee;
}
header.layout-post a, header.layout-about a{
  color: #000;
}

.container{
  max-width: 1024px;
}

.container p, .single_post h2, .single_post h3, .container .single_photo{
  padding: 10px;
}

#post-logo {
  width: 130px;
  opacity: 0.7;
}

#logo{
  padding-top: 10px;
  width: 200px;
  opacity: 0.7;
  transition: linear 0.4s;
}
#logo:hover {
  opacity: 1;
  transition: linear 0.4s;
}

.main_photo_home{
  width: 100%;
}

.post_preview_wrapper {
  margin: 30px 10px;
  border-radius: 5px;
}

.post_image_in_list{
  display: block;
  text-align: center;
  color: #fff;
  text-decoration: none;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 280px;
  padding: 0px;
  margin: 0px 20px;
}

@media all and (max-width: 500px) {
  .post_image_in_list{
    margin: 0px;
    margin-top: 30px;
  }
}

.post_card{
}

.post_card_text {
  padding: 15px;
}

.post_title {
  color: #333;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  display: inline-block;
  width: 100%;
}
.post_title:hover {
  color: #000;
}
.post_content {
  font-size: 14px;
}
.post_from_index h2{
  font-family: 'Oswald', sans-serif;
  font-size: 33px;
  padding-top: 0px;
  margin-top: 0px;
  color: #fff;
  text-decoration: none;
}

.post_preview_wrapper .post_content{
  text-align: center;
}

.home_subtitles {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-weight: lighter;
  position: relative;
  color: #666;
  text-transform: uppercase;
  margin-top: 50px;
  font-size: 30px;
}

/************* HOME ABOUT ****************/
.home_about {
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
}

.home_about a{
  color: #333;
}

.home_about img {
  max-width: 320px;
}

.home_about p {
  padding-top: 0px;
  margin-top: 0px;
  line-height: 22px;
}
.about_home_container {
  padding: 20px;
  background-color: #edf4fc;
  margin-top: 20px;
}
.about_home_container .home_subtitles {
  margin-top: 10px;
  margin-bottom: 30px;
  color: #444;
}
/************* HERO ****************/

.hero_image {
  display: block;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 450px;
  padding: 0px;
  margin: 0px;
  color: #fff;
  text-decoration: none;
  position: relative
}

.hero_title {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 34px;
}
.hero_content {
  display: inline-block;
  max-width: 650px;
  padding: 0px 20px;
  font-size: 16px;
  text-shadow: -1px 1px 5px #000000;
}
.hero_content_wrapper {
  padding-top: 180px;
  text-align: center;
  text-shadow: -1px 1px 15px #000000;
}

/************* NAV ****************/
nav {
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  padding: 30px 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

nav a {
  color: #333;
  text-decoration: none;
}

nav a:hover {
  color: #000;
  border-bottom: 1px solid #ccc;
}

.separator {
  display: inline-block;
  height: 5px;
  width: 5px;
  margin: 0px 5px 2px 5px;
  background-color: #dedede;
  border-radius: 10px;
}

.layout-small-header nav {
  border: 0px;
  padding: 0px 10px 0px 0px;
  margin: 5px 0px 0px 0px;
  text-align: right;
}

/************** ABOUT *******************/

.social-links {
  margin-top: 30px;
}

.social-links a {
  color: #333 !important;
  text-decoration: none;
  font-size: 14px;
  display: inline-block
}

.social-links a img {
  padding-bottom: 2px;
}

/************* SINGLE POST ****************/

.single_post{
  margin: 30px auto 0px auto;
  max-width: 800px;
}

.main_photo_container {
  padding: 16px;
}
.main_photo{
  margin: auto;
  display: block;
}

.main_photo_large {
  max-width: 920px;;
}

.main_photo_small{
  max-width: 600px;
}

.single_post p{
  font-size: 15px;
  line-height: 22px;
}

.after_break img {
  width: 100%;
}

.single_post li{
  font-size: 15px;
  line-height: 22px;
  padding-bottom: 5px;
}

.single_post a{
  color: #2b5aa5;
}

.single_post a:hover{
  text-decoration: none;
}

.single_post h1{
  font-family:  'Oswald', sans-serif;
  font-size: 45px;
  padding: 50px 0px 60px 0px;
  margin-top: 0px;
  text-align: center;
  font-weight: lighter;
  color: #333;
}

.single_photo{
  margin-top: 20px;
}

#detail_photos img{
  max-width: 1024px;
  max-height: 700px;
  margin: auto;
  display: block;
}

/************* FOOTER **********/
footer{
  font-size: 12px;
  color: #bbb;
  text-align: center;
  padding: 40px 0px 60px 0px;
  margin-top: 20px;
}

footer a{
  color: #bbb;
}

/************************ MOBILE LAYOUT *********************/
@media all and (max-width: 500px) {
  .post_from_index{
    height: 300px;
  }

  .bg_opaque{
    height: 300px;
  }

}

@media all and (max-width: 770px) {
  .small-logo {
    text-align: center;
    padding-bottom: 10px;
  }

  .small-nav {
    text-align: center !important;
    border: 1px solid green;
  }

  #detail_photos img, .main_photo{
    max-width: 100%;
  }
}


