<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2016-11-20-haut-encolure-carree.md</key>
			<dict>
				<key>lastModification</key>
				<real>527361788.57351798</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-11-20-robe-avec-noeud.md</key>
			<dict>
				<key>lastModification</key>
				<real>527361788.57352</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-11-20-robe-kimono.md</key>
			<dict>
				<key>lastModification</key>
				<real>527361788.57352102</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-11-20-veste-basque.md</key>
			<dict>
				<key>lastModification</key>
				<real>527361788.57351899</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-04-smoking-dress.md</key>
			<dict>
				<key>lastModification</key>
				<real>527361788.57352</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-01-raymond-rose.md</key>
			<dict>
				<key>lastModification</key>
				<real>527361788.57352</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-09-7-gilet-monceau.md</key>
			<dict>
				<key>lastModification</key>
				<real>527361788.57352102</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-09-7-robe-epaule-nouee.md</key>
			<dict>
				<key>lastModification</key>
				<real>527361872.21084201</real>
				<key>version</key>
				<dict>
					<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
					<integer>7</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2016-11-20-haut-encolure-carree.md</string>
		</array>
		<array>
			<string>2016-11-20-veste-basque.md</string>
		</array>
		<array>
			<string>2016-11-20-robe-avec-noeud.md</string>
		</array>
		<array>
			<string>2016-12-04-smoking-dress.md</string>
		</array>
		<array>
			<string>2017-01-01-raymond-rose.md</string>
		</array>
		<array>
			<string>2016-11-20-robe-kimono.md</string>
		</array>
		<array>
			<string>2017-09-7-gilet-monceau.md</string>
		</array>
		<array>
			<string>2017-09-7-robe-epaule-nouee.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>27ba8c6f8149b1305223cdd6b8524ffbfa34717052ef61e75fa17952e587478e</key>
			<integer>8</integer>
		</dict>
	</dict>
</dict>
</plist>
