<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <link href="https://fonts.googleapis.com/css?family=Allerta|Carme|Libre+Baskerville|Oswald|Roboto|Tinos" rel="stylesheet">

    <link href="/assets/css/bootstrap.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="/assets/css/app.css?body=1" rel="stylesheet" type="text/css" media="all">

  </head>

  <body>
    <header class="container-fluid">
      <div class="container">
        <a href="/">PSM</a><br>
        <span>Perrine Self Made</span>
      </div>
    </header>

    <div class="container">
      {{ content }}
    </div>

    <footer>
      Site, photos et réalisations &copy; PSM 2016, réalisation <a href="https://marcgg.com">marcgg</a>.
    </footer>
  </body>
</html>

