---
layout: default
---

<header class="container-fluid layout-{{ page.layout }}">
  <div class="container">
    <a href="/">
      <img id="logo" src="/assets/images/logo.jpg" alt="logo"/>
    </a>
  </div>
</header>

<nav>
  <a href="/">Accueil</a>
  <span class="separator"></span>
  <a href="/">Réalisations</a>
  <span class="separator"></span>
  <a href="/">Inspiration</a>
  <span class="separator"></span>
  <a href="/">A&nbsp;propos</a>
  <span class="separator"></span>
  <a href="/">Contact</a>
</nav>

<div class="hero">
  {% assign fav_posts = site.posts | where: 'fav', true %}
  {% for post in fav_posts %}
    <a class="row hero_image" href="{{ BASE_PATH }}{{ post.url }}" style="background-image:url('{{ BASE_PATH }}assets/photos{{ post.url }}main.jpg');">
      <div class="hero_content_wrapper">
      <span class="hero_title">{{ post.title }}</span>
      <br />
      <span class="hero_content">{{ post.hook }}</span>
      </div>
    </a>
  {%endfor%}
</div>

<h2 class="home_subtitles">Créations & Inspirations récentes</h2>
<div class="container posts">
  {% assign my_posts = site.posts | where: 'fav', false %}
  {% for post in my_posts %}
    {% assign step = forloop.index | modulo: 2 %}
    {% if step == 1 %}
    <div class= "row">
    {% endif %}
      <div class="col-md-6">
        <div class="post_preview_wrapper">
          <div class="post_card">
            <a class="row post_image_in_list" href="{{ BASE_PATH }}{{ post.url }}" style="background-image:url('{{ BASE_PATH }}assets/photos{{ post.url }}main.jpg');"></a>
            <div class="post_card_text">
              <a href="{{ BASE_PATH }}{{ post.url }}" class="post_title">{{ post.title }}</a>
              <div class="post_content">
                Je suis Perrine et je fais des tissus! Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                {{ post.hookx }}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% if step == 0 %}
    </div>
    {% endif %}
  {% endfor %}
</div>
</div>

<div class="about_home_container">
  <div class="container">
    <h2 class="home_subtitles">A propos</h2>
      <div class="row home_about">
        <div class="col-md-6">
          <p>Je suis Perrine et je fais des tissus! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis vulputate posuere. Aliquam erat volutpat.</p>
          <p>Suspendisse consectetur elit nec fringilla condimentum. Duis ac congue mi. Fusce lobortis molestie est, vel egestas risus egestas sed. Curabitur ornare ex nec erat malesuada, nec elementum est fringilla. Nunc malesuada sed orci quis viverra. Ut ut magna laoreet, egestas sapien non, venenatis ligula. Etiam scelerisque id arcu quis efficitur.</p>
        </div>
        <div class="col-md-6">
          <img src="/assets/images/perrine_atelier.jpg" />
        </div>
      </div>
    </div>
</div>
