---
layout: default
---

<header class="container-fluid layout-{{ page.layout }}">
  <div class="container">
    <a href="/">
      <img id="logo" src="/assets/images/logo.jpg" alt="logo"/>
    </a>
  </div>
</header>

<div class="container posts">
  {% assign count = 0 %}
  {% for post in site.posts %}
    {% unless post.hidden %}
      <a class="row post_from_index col-md-12" href="{{ BASE_PATH }}{{ post.url }}" style="background-image:url('{{ BASE_PATH }}assets/photos{{ post.url }}main.jpg');">
        <div class="bg_opaque">
          <div class="post_preview">
            <h2>{{ post.title }}</h2>
            <div class="post_content">
              {{ post.hook }}
            </div>
          </div>
        </div>
      </a>
    {% endunless %}
  {% endfor %}
</div>
