---
layout: default
---

<header class="container-fluid layout-{{ page.layout }} layout-small-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 small-logo">
        <a href="/">
          <img id="post-logo" src="/assets/images/logo.jpg" alt="logo"/>
        </a>
      </div>

      <nav class="col-sm-7 small-nav">
        {% include nav.html %}
      </nav>
    </div>
  </div>
</header>

<div class="container ">
  <div class="row single_post">
    <h1>{{ page.title }}</h1>
    {{ page.content | split:'BREAK' | first }}
  </div>
</div>

<div>
    <img src="{{ BASE_PATH }}/assets/photos/{{ page.url }}main.jpg" class="main_photo"/>
</div>

<div class="container ">
  <div class="row single_post">
    {{ page.content | split:'BREAK' | last }}
  </div>
</div>

<div id="detail_photos" class="container">
  {% for static_file in site.static_files %}
      {% if static_file.path contains page.url %}
        {% if static_file.path contains "detail" %}
          <div class="row single_photo">
            <img src="{{ static_file.path }}" />
          </div>
        {% endif %}
      {% endif %}
  {% endfor %}
</div>

<div class="container comments">
  <div id="disqus_thread"></div>
</div>
<script>

(function() {
var d = document, s = d.createElement('script');
s.src = 'https://http-ps-made-com.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

