---
layout: default
---

<div class="container single_post">
  <div class="row">
    <h1>{{ page.title }}</h1>
    {{ page.content | split:'BREAK' | first }}
    <img src="{{ BASE_PATH }}/assets/photos/{{ page.url }}/main.jpg" class="main_photo"/>
    {{ page.content | split:'BREAK' | last }}
  </div>
</div>

<div id="detail_photos" class="container">
  <div class="row">
    {% for static_file in site.static_files %}
        {% if static_file.path contains page.url %}
          {% if static_file.path contains "detail" %}
          <div class="col-md-4">
            <img src="{{ static_file.path }}" />
          </div>
          {% endif %}
        {% endif %}
    {% endfor %}
  </div>
</div>
