---
layout: default
---

<header class="container-fluid layout-{{ page.layout }}">
  <div class="container">
    <a href="/">PSM<span>ade</a></a><br>
  </div>
</header>

<div class="container single_post">
  <div class="row">
    <h1>{{ page.title }}</h1>
    {{ page.content | split:'BREAK' | first }}
    <img src="{{ BASE_PATH }}/assets/photos/{{ page.url }}/main.jpg" class="main_photo"/>
    {{ page.content | split:'BREAK' | last }}
  </div>
</div>

<div id="detail_photos" class="container">
  <div class="row">
    {% for static_file in site.static_files %}
        {% if static_file.path contains page.url %}
          {% if static_file.path contains "detail" %}
            <img src="{{ static_file.path }}" />
          {% endif %}
        {% endif %}
    {% endfor %}
  </div>
</div>
